html {
  font-size: 16px;
}

@media (min-width: 1200px) {
  html {
    font-size: 10px;
  }
}

body {
  background-color: #00000f;
  color: orange;
}

@font-face {
  font-family: FrontageCondensed-Outline;
  src: url(fonts/FrontageCondensed-Outline.otf);
}

h1,
h2 {
  font-family: FrontageCondensed-Outline, Times, serif;
}

h1 {
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 10px;
}

a,
a:link {
  color: orange;
}

a:hover {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inputMovieTitle {
  display: inline-block;
  color: black;
}

.recos {
  float: right;
  font-family: FrontageCondensed-Outline, Times, serif;
  margin-right: 30px;
}

.social {
  margin-top: 50px;
  margin-right: 20px;
  float: right;
  text-align: right;
}

.font-size-normal {
  display: inline;
}

.float-right {
  float: right;
}

.btn,
.list-brief,
.list-alert,
.menu-header,
.reminder {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  word-wrap: break-word;
}

.menu {
  text-align: center;
}

.menu-header,
.reminder {
  color: white;
  font-weight: bold;
}

.movie-rank {
  font-family: FrontageCondensed-Outline, Times, serif;
}

.movie-title {
  font-family: "Lucida Console", Monaco, monospace;
}

.movie {
  text-align: center;
  margin: auto;
  width: 80%;
  border-radius: 8px;
  padding: 10px;
  min-height: 75px;
  background-color: #00000f;
}

.movie-separator {
  min-height: 25px;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  /** debug **/
  /*
  border-radius: 4px;
  border: 1px dashed white;
  */
}

.movie-separator-hover {
  background-color: rgba(216, 109, 2, 0.3);
}

.drop-below {
  display: none;
}

/** transitions **/
.movie {
  box-shadow: 0 1px 2px rgba(216, 109, 2, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.movie::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(216, 109, 2, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.movie:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.movie:hover::after {
    opacity: 1;
}

/** font sizes **/

h1 {
  font-size: 10rem;
  line-height: 1.2;
}

h2 {
  font-size: 7rem;
}

.form-control {
  height: 3rem;
  margin-left: 1rem;
}

.recos {
  font-size: 5rem;
}

.btn {
  font-size: 2rem;
}

.control-label,
.inputMovieTitle,
.form-control,
.confirmation,
.menu,
.list-brief,
.reminder,
.social,
.menu-header {
  font-size: 2rem;
}

.movie-rank {
  font-size: 7rem;
}

.movie-title {
  font-size: 2rem;
}
