<!doctype html>
<html ng-app="superApp">

  <head>
    <meta charset="UTF-8">
    <title>MySuperCineList</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="js/super.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/super.css">
  </head>

  <body>
    <h1 class="text-center"><a href="index.html">MySuperCineList</a></h1>

    <div id="superListControllerID" class="text-center" ng-controller="SuperListController as superList">
      <h2>- {{superList.title}} -</h2>
      <p class="reminder">
        N'oublie pas de conserver précieusement cette adresse :<br>
        {{superList.currentUrl}}
      </p>
      <div class="form-group text-center" ng-hide="superList.notAuthorized">
        <form class="form-horizontal" ng-submit="superList.addMovie()">
          <div class="form-group">
            <label class="col-sm-2 control-label">Titre</label>
            <div class="col-sm-9">
              <input type="text" ng-model="superList.title" class="form-control" value="{{superList.title}}" placeholder="Titre de la liste">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Accroche</label>
            <div class="col-sm-9">
              <textarea ng-model="superList.brief" class="form-control" placeholder="Description de la liste">{{superList.brief}}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">
              Public
              <input type="checkbox" class="" ng-model="superList.public">
              <a href="index.html?id={{superList.id}}" target="_blank" ng-if="superList.public">Cliquer pour voir ma liste publique</a>
            </label>
          </div>
          <div class="form-group">
              <div class="text-center">
                <input type="text" ng-model="superList.newMovieTitle" class="inputMovieTitle" placeholder="Ajouter un film">
                <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
          </div>
          <a href="" class="btn btn-default" ng-click="superList.updateList()" ng-disabled="superList.saveDisabled"><strong>Enregistrer</strong> <span class="glyphicon glyphicon-floppy-disk"></span></a>
          <div class="btn alert-success list-alert" role="alert" ng-show="superList.showSuccess">
            Enregistré <span class="glyphicon glyphicon-ok"></span>
          </div>
          <div class="btn alert-danger list-alert" role="alert" ng-show="superList.showError">
            Echec de l'enregistrement <span class="glyphicon glyphicon-remove"></span>
          </div>
        </form>
      </div>

      <div class="container-fluid text-center">
        <div ng-repeat="movie in superList.movies" draggable="true" ondragstart="drag(event)">
          <div class="movie-separator" ondragover="dragEnter(event)" ondrop="drop(event)" ondragleave="dragLeave(event)" ng-if="movie.rank == 1">
            <div class="drop-below" data-movie-rank="0"></div>
          </div>
          <div class="movie" data-movie-title="{{movie.title}}" data-movie-rank="{{movie.rank}}">
            <div class="float-right">
              <a href="" ng-click="superList.deleteMovie(movie)"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <span class="movie-rank">
              <span ng-if="movie.rank == 0">non classé</span>
              <span ng-if="movie.rank != 0">{{movie.rank}}</span>
            </span>
            <br>
            <span class="movie-title">{{movie.title}}</span>
          </div>
          <div class="movie-separator" ondragover="dragEnter(event)" ondrop="drop(event)" ondragleave="dragLeave(event)">
            <div class="drop-below" data-movie-rank="{{movie.rank}}"></div>
          </div>
        </div>
        <div>
          <a class="btn btn-danger" href="" ng-click="superList.removeList()" ng-disabled="superList.removeDisabled">
            Supprimer la liste <span class="glyphicon glyphicon-trash"></span>
          </a>
          <div class="btn alert-danger list-alert" role="alert" ng-show="superList.showRemovalError">
            Echec de la suppression <span class="glyphicon glyphicon-remove"></span>
          </div>
        </div>
      </div>
    
    </div>
  </body>
</html>
